.card{
    border:none;
}
.card_img{
    width:100%;
}
.card-link{
    @media (max-width:1200px){
        font-size:1rem;
    }
    @media (max-width:768px){
        font-size:1.5rem;
    }
    + .card-link{
        margin-left:0.75rem;
    }
}
.card-title{
    @media (max-width:992px){
        font-size:1.25rem;
    }
}
.card-body{
    padding:0;
}
.card-footer{
    padding:0;
    background-color: #fff;
    border-top:none;
    display: flex;
}
.card__bg__light{
    background-color:$light;
}