.card_img{
<<<<<<< HEAD
    width:100%;
}
.card-link{
    @media (max-width:1200px){
        font-size:1rem;
    }
    @media (max-width:768px){
        font-size:1.5rem;
    }
}
.card-body{
    padding:0;
}
.card-footer{
    padding:0;
    background-color: #fff;
    border-top:none;
=======
    width: 100%;
    margin-bottom: 2px;
>>>>>>> parent of b854de6... week6
}