.card_img{
    width:100%;
}
.card-link{
    @media (max-width:1200px){
        font-size:1rem;
    }
    @media (max-width:768px){
        font-size:1.5rem;
    }
}
.card-body{
    padding:0;
}
.card-footer{
    padding:0;
    background-color: #fff;
    border-top:none;
}