.navbar{
    background:#fff;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding:0.5rem 0rem;
}
.navbar-nav {
    display: flex;
    flex-direction: column;    
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  
    .nav-link {  
      padding-right: 0;
      padding-left: 0;
      background-color: $dark;
      position: relative;
      font-size:20px;
      line-height: 1.2;
      color:#fff;
      border-bottom:1px solid #fff;
      &:hover{
          color:#fff;
      }
      @include media-breakpoint-up(md) {
          background-color: #fff;
          color:$gray-500;
          border-bottom:0px;
          &:hover{
            color:#AC8A46;
            background-color:#f5e6c9;
            font-size: 16px;
            transition: all 0.3s;
          }
        }
    }
  
    .dropdown-menu {
      position: static;
      float: none;
    }
  }
.navbar-toggler{
    width: 32px;
    height: 28px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
    border-radius: 0px;
  span{
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #8d8d8d;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  :nth-child(1){
    top: 0px;
    transform-origin: left center;
    }
    :nth-child(2){
    top: 10px;
    transform-origin: left center;
    }
    :nth-child(3){
    top: 20px;
    transform-origin: left center;
    }
  
}