.bg{
    background-repeat: no-repeat;
    background-position: center center;   
}
.bg-texthide{
    text-indent:101%; 
    overflow:hidden;
    white-space:nowrap;
}
.bg-cover{
    background-size: cover;
}
.h-banner{
    height: calc(100vh - 56px);
}
.bg-banner{
    background-image: url(../images/banner.jpg);    
}
.bg-subscribe{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true);
}
.bg-logo{
    background-image:url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfume@2x.png?raw=true') ;
}
.bg-whitelogo{
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfumewhite@2x.png?raw=true');
}
.bg_hover{
    &:hover{
        background: rgba(167, 166, 166, 0.376);
        opacity:0.8;
        transition: all 0.5s;
    }
}

@mixin bg($name,$h){
    $url:'../images/' + $name;
    background-image: url($url);
    height: $h;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.drop-shadow{
    -webkit-filter:drop-shadow(5px 5px 5px #333);
    }